<% provide(:title, 'Edit user') %>
<% provide(:button_text, 'Save changes') %>
<h1>Update your profile</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="gravatar_edit">
      <%= gravatar_for @user %>
      <a href="http://gravatar.com/emails" target="_blank" style="display: block; text-align: center;">Change</a>
    </div>
  </div>
  <div class="col-md-6 col-md-offset-3" style="margin-top: 3em; margin-bottom: 5em">
    <%= render 'form' %>
  </div>
</div>

<style>
  .gravatar_edit{ margin: 0 auto; display: table;}
</style>