<% provide(:title, 'All users') %>
<h1>All users</h1>

<center>
<%= will_paginate %>
<ul class="users" style="margin-bottom: 3em;">
    <table>
      <%= render @users %>
    </table>  
</ul>

</center>
<style>
  .gravatar{
      margin-top: 20px;
  }
</style>