
<div style="margin-top: 50px; margin-left: 60px;">
	<%= link_to gravatar_for(current_user, size: 90), current_user %>
	<h4><%= current_user.name %></h4>
	<span>
		<i><%= pluralize(current_user.microposts.count, "micropost") %></i>
	</span>
	<br>
	<span><%= link_to "View Profile", current_user, class: "btn btn-success btn-xs" %>
	</span>
</div>